@font-face {
    font-family: "Museo Sans Cyrl";
    src:
        local("Museo Sans Cyrl"),
        url("../fonts/MuseoSansCyrl300.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Evolventa";
    src:
        local("Evolventa"),
        url("../fonts/Evolventa400.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Evolventa";
    src:
        local("Evolventa"),
        url("../fonts/Evolventa700.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 20px;
}

.nav-link:hover::before {
    left: 0;
    right: 0;
    transition: right 400ms;
}


.nav-link {
    position: relative;
    display: inline-block;
    color: #000;
    font-family: "Museo Sans Cyrl";
    font-size: 16px;
    margin-right: 20px;
    padding-bottom: 5px;
}

.nav-link::before {
    background: rgba(0, 0, 0, 702);
    bottom: 0;
    content: "";
    height: 1px;
    left: 100%;
    position: absolute;
    right: 100%;
    transition: right 0s 400ms, left 400ms;
}

.nav-link:last-child {
    margin-right: 0px;
}

.social-link {
    display: inline-block;
    margin-right: 23px;
}

.social-link path:first-child {
    fill: #010102;
    transition: fill 400ms;
}

.social-link:hover path:first-child {
    fill: #494949;
}

.social-link:last-child {
    margin-right: 0px;
}

.hero-left {
    max-width: 612px;
}

.hero-title {
    color: #000;
    font-family: Evolventa;
    font-size: 45px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 46px;
}

.hero-description {
    color: #000;
    font-family: Evolventa;
    font-size: 22px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 67px;
    max-width: 545px;
}

.hero-btn {
    display: inline-block;
    color: #1A1B16;
    text-align: center;
    font-family: Evolventa;
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    border-radius: 10px;
    background: #D2FE67;
    padding: 20px 140px;
}